<!DOCTYPE html>
<HTML lang="en">

<HEAD>
	<META charset="utf-8">
	<META name="viewport" content="width=device-width, initial-scale=1">
    <TITLE>HBnB</TITLE>
    <LINK rel="stylesheet" href="../static/styles/4-common.css">
    <LINK rel="stylesheet" href="../static/styles/3-header.css">
    <LINK rel="stylesheet" href="../static/styles/3-footer.css">
    <LINK rel="stylesheet" href="../static/styles/6-filters.css">
    <LINK rel="stylesheet" href="../static/styles/8-places.css">
    <LINK rel="icon" href="../static/images/icon.ico">
</HEAD>

<BODY>
    <HEADER>
        <DIV id="header_logo"></DIV>
    </HEADER>
    <DIV class="container">
        <SECTION class="filters">
            <BUTTON>Search</BUTTON>
            <DIV class="locations">
                <H3>States</H3>
                <H4>&nbsp;</H4>
                    <UL class="popover">
                    {% for state in states.values() | sort(attribute="name") %}
                        <LI><H2>{{ state.name }}</H2></LI>
                        <LI>
                            <UL>
                            {% for city in state.cities | sort(attribute="name") %}
                            <LI>{{ city.name }}</LI>
                            {% endfor %}
                            </UL>
                        </LI>
                    {% endfor %}
                  </UL>
            </DIV>
            <DIV class="amenities">
                <H3>Amenities</H3>
                <H4>&nbsp;</H4>
                <UL class="popover">
                {% for amenity in amenities.values() | sort(attribute="name") %}
                <LI>{{ amenity.name }}</LI>
                {% endfor %}
                </UL>
            </DIV>
        </SECTION>
	<section class="places">
				<h1>Places</h1>
				{% for place in places.values()|sort(attribute="name") %}
				<article>
					<div class="headline">
						<h2>{{ place.name }}</h2>
						<div class="price_by_night">&#36;{{ place.price_by_night }}</div>
					</div>
					<div class="information">
						<div class="max_guest">
							<div class="guest_icon"></div>
							<p>{{ place.max_guest }} Guests</p>
						</div>
						<div class="number_rooms">
							<div class="bed_icon"></div>
							<p>{{ place.number_rooms }} Rooms</p>
						</div>
						 <div class="number_bathrooms">
							<div class="bath_icon"></div>
							<p>{{ place.number_bathrooms }} Bathrooms</p>
						</div>
					</div>
					<div class="user"><b>Owner</b>: {{ place.user.first_name }} {{ place.user.last_name }}</div>
					<div class="description">{{ place.description|safe }}</div>
				</article>
				<article>
					<div class="headline">
						<h2>{{ place.name }}</h2>
						<div class="price_by_night">&#36;{{ place.price_by_night }}</div>
					</div>
					<div class="information">
						<div class="max_guest">
							<div class="guest_icon"></div>
							<p>{{ place.max_guest }} Guests</p>
						</div>
					        <div class="number_rooms">
                                                        <div class="bed_icon"></div>
                                                        <p>{{ place.number_rooms }} Rooms</p>
                                                </div>
                                                <div class="number_bathrooms">
                                                        <div class="bath_icon"></div>
                                                        <p>{{ place.number_bathrooms }} Bathrooms</p>
                                                </div>
                                        </div>
					<div class="user"><b>Owner</b>: {{ place.user.first_name }} {{ place.user.last_name }}</div>
					<div class="description">{{ place.description|safe }}</div>
				</article>
				<article>
					<div class="headline">
						<h2>{{ place.name }}</h2>
						<div class="price_by_night">&#36;{{ place.price_by_night }}</div>
					</div>
					<div class="information">
                                                <div class="max_guest">
                                                        <div class="guest_icon"></div>
                                                        <p>{{ place.max_guest }} Guests</p>
                                                </div>
                                                <div class="number_rooms">
                                                        <div class="bed_icon"></div>
                                                        <p>{{ place.number_rooms }} Rooms</p>
                                                </div>
                                                <div class="number_bathrooms">
                                                        <div class="bath_icon"></div>
                                                        <p>{{ place.number_bathrooms }} Bathrooms</p>
                                                </div>
                                        </div>
		                        <div class="user"><b>Owner</b>: {{ place.user.first_name }} {{ place.user.last_name }}</div>
		                        <div class="description">{{ place.description|safe }}</div>
				</article>
				{% endfor %}
			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
